* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #473E3F;
}

.container {
  position: relative;
  width: 610px;
  height: 700px;
  /* border: 1px solid black; */
  border: 2px solid#EF7126;
  margin: 0 auto 20px;
  background-color: #8EDC9D;
}

.player__name,
.player__header {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 150px auto 0;
  color: lightgray;
}

.ship {
  position: relative;
  top: 91%;
  width: 70px;
  height: 63px;
  background-image: url('./img/safebox.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid black; */
  background-color: #28bcbe;
  border-radius: 7px;
}

.controlPanel {
  display: flex;
  align-items: center;
  width: 600px;
  margin: 20px auto;
  color: lightgrey;
  /* border: 1px dotted gray; */
}

.button {
  min-width: 100px;
  height: 60px;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 7px;
  border: 2px solid #F9E559;
  background: #F9E559;
}

.playAgain__button {
  width: 100px;
  height: 80px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.lifesLeft,
.result,
.lives,
.score {
  font-size: 1.6rem;
  padding-right: 1rem;
}

.obstacle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('./img/dollarCoin.png');
  background-size: contain;
  overflow: hidden;
}

table {
  text-align: center;
  /* border-collapse: collapse; */
  color: #0c0b0b;
  margin: 2rem;
}

th,
td {
  border: 1px solid #6b5f61;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 7px;

}


tr:nth-child(2n) {
  background-color: #79dbd8;
}

.header__row {
  background-color: #8EDC9D;
}


.caption {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.start,
.endModal {
  position: absolute;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  background-color: #6CCECB;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
}

.endModal {
  display: none;
  overflow: auto;
}

.start__player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px auto;
}

.input {
  background-color: lightgray;
  border: none;
  border-radius: 50px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 20px 10px 40px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
}

.input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.start__header,
.start__name,
.endModal__header {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.endModal__header {
  color: #332c2d;
}

.buttons__container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem auto;
}

.gameManual {
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
}

.onPhones {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: #473E3F;
  color: lightgrey;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

@media (max-width: 600px) {
  .onPhones {
    display: flex;
  }
}